<!DOCTYPE html>
<html lang="es">

<%- include('../views/components/heade.ejs') %>

  <body>
    <%- include('../views/components/menu.ejs') %>

      <div class="container p-3">
        <div class="card border-warning">
          <div class="card-header">Nuevo Registro</div>
          <div class="card-body">
            <form action="/save" method="POST">
              <div class="col-md-12">
                <label for="validationCustom01" class="form-label my-2">Usuario</label>
                <input type="text" class="form-control" id="user" name="user" required />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Incorrecto</div>
              </div>
              <div class="col-md-12">
                <label for="validationCustom01" class="form-label my-2">Rol</label>
                <select id="rol" name="rol" class="form-select form-select-sm" aria-label="Small select">
                  <option selected="">Selecciona una opcion</option>
                  <option value="admin">Admin</option>
                  <option value="diseñador">Diseñador</option>
                  <option value="programador">Programador</option>
                </select>
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Incorrecto</div>
              </div>
              <div class="col-12 text-center my-3">
                <button class="btn btn-warning" type="submit">Enviar</button>
                <a href="/" class="btn btn-secondary">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%- include('../views/components/scripts.ejs') %>

  </body>

</html>